<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.log.mapper.AlertRuleMapper">

    <resultMap id="AlertRuleResultMap" type="com.hj.log.domain.AlertRule">
        <id property="id" column="id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="serviceName" column="service_name"/>
        <result property="logLevel" column="log_level"/>
        <result property="regexPattern" column="regex_pattern"/>
        <result property="thresholdCount" column="threshold_count"/>
        <result property="timeWindow" column="time_window"/>
        <result property="coolDownPeriod" column="cool_down_period"/>
        <result property="enabled" column="enabled"/>
        <result property="notificationChannels" column="notification_channels"/>
    </resultMap>

    <insert id="insert" parameterType="com.hj.log.domain.AlertRule">
        INSERT INTO area_alert_rule (
            id,
            rule_name,
            service_name,
            log_level,
            regex_pattern,
            threshold_count,
            time_window,
            cool_down_period,
            enabled,
            notification_channels
        ) VALUES (
            #{id},
            #{ruleName},
            #{serviceName},
            #{logLevel},
            #{regexPattern},
            #{thresholdCount},
            #{timeWindow},
            #{coolDownPeriod},
            #{enabled},
            CAST(#{notificationChannels} AS JSON)
        )
    </insert>

    <select id="selectById" resultMap="AlertRuleResultMap">
        SELECT
            id,
            rule_name,
            service_name,
            log_level,
            regex_pattern,
            threshold_count,
            time_window,
            cool_down_period,
            enabled,
            notification_channels
        FROM area_alert_rule
        WHERE id = #{id}
    </select>
</mapper>
