<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.log.mapper.LogSourceMapper">

    <resultMap id="LogSourceResultMap" type="com.hj.log.domain.LogSource">
        <id property="id" column="id"/>
        <result property="sourceName" column="source_name"/>
        <result property="serviceName" column="service_name"/>
        <result property="sourceType" column="source_type"/>
        <result property="authToken" column="auth_token"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insert" parameterType="com.hj.log.domain.LogSource">
        INSERT INTO area_log_source (
            id,
            source_name,
            service_name,
            source_type,
            auth_token,
            status
        ) VALUES (
            #{id},
            #{sourceName},
            #{serviceName},
            #{sourceType},
            #{authToken},
            #{status}
        )
    </insert>

    <select id="selectById" resultMap="LogSourceResultMap">
        SELECT
            id,
            source_name,
            service_name,
            source_type,
            auth_token,
            status
        FROM area_log_source
        WHERE id = #{id}
    </select>
</mapper>
